body {
    background-color: wheat;
}

.content {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;

    h1 {
        color: darkblue;
    }

    table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;

        th,td {
            padding: 10px;
            border: 1px solid #ccc;
    
            th {
                background-color: #f0f0f0;
                color: #333;
            }
        }
    }
}